<div class="homeContain">
    <div class="homeContainLeft animate-on-view" data-animation="slide-left">
        <h1>
            <span>Welcome to AtomX AI:</span><br> 
            <span>Your Smart Exam Proctoring Solution</span>
        </h1>

        <p>
            ProctorAI is a fully automated, AI-driven platform designed to bring <br> integrity and efficiency to online exams without requiring human intervention. <br> Our system utilizes advanced machine learning and TensorFlow technology to <br> independently monitor exam sessions, detect potential cheating, and ensure a <br>secure, distraction-free environment for every student.
        </p>
    </div>

    <div class="homeContainRight animate-on-view" data-animation="slide-right">
        <img src="static/images/download.svg" alt="Description of the image">
    </div>
</div>